body {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Toma toda la altura de la ventana */
    margin: 0; /* Elimina el margen predeterminado */
    background-color: #f4f4f4; /* Color de fondo opcional */
}

img {
    width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
}

.home-container {
    max-width: 70%; /* Ajusta el ancho según lo necesites */
    margin: auto; /* Centra el contenedor */
    margin-top: 30px;
    padding: 20px; /* Espaciado interno */
    border: 0px solid #ccc; /* Borde */
    border-radius: 8px; /* Bordes redondeados */
    background-color: #fff; /* Fondo blanco */
  }